.Logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  user-select: none;
  width: 320px;
  height: 240px;
  margin: 24px auto; 
}

.Logo div {
  display: block;
  width: 100%;
  height: 100%;
}

.Logo img {
  object-fit: contain;
  animation: logo-spin infinite 50s linear;
}

.Logo span {
  user-select: none;
  color: #764abd;
  width: auto;
  font-weight: 700;
  position: absolute;
}

@media (max-width: 744px) {
  .Logo {
    width: 175px;
    height: 157.5px;
  }
  .Logo span {
    font-size: 10px;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
