.Logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: calc(10px + 2vmin);
    position: relative;
    user-select: none;
    width: 335px;
    height: 300px;
    margin: 24px auto 12px; 
}

.Logo div {
    display: block;
    width: 100%;
    height: 100%;
}

.Logo img {
    animation: Logo-spin infinite 20s linear;
}

.Logo span {
    user-select: none;
    color: #764abd;
    width: auto;
    font-weight: 700;
    position: absolute;
}

@media only screen and (max-width: 500px) {
    .Logo {
        width: 175px;
        height: 180px;
    }
    .Logo span {
        font-size: 10px;
    }
}

@keyframes Logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
