.Variable {
    display: inline-flex;
    list-style-type: none;
    user-select: none;
    margin: auto;
    position: relative;
    font-weight: 600;
}

.VerticalVariable {
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.VariableName {
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    bottom: -22.5%;
    left: 50%;
    transform: translateX(-50%);
}

.VerticalVariableName {
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    bottom: -17.5%;
    left: 152.5%;
    width: 100%;
}

.IconWrapper {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: flex-start;
}

.IconWrapper svg {
  width: 35px;
  height: 35px;
}

.VariableName img {
    width: 35px;
}

.VerticalVariableName img {
    margin-left: 10px;
    margin-right: 10px;
}

.VerticalIconName {
    font-size: 12px;
    margin-top: 5px;
}

@media (max-width:625px) {
    .VerticalIconName {
        margin: 0;
        margin-left: 6px;
        overflow: hidden;
        width: 16.66%;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}








