.App{
  position: relative;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  color: inherit;
  background-color: inherit;
  animation: fade-in ease 600ms;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.App svg {
  font-size: 2.5em;
}

.UnderlineWrapper {
  width: 100%;
  position: relative;
  display: inline-table;
}

.DarkTooltip {
  background: rgb(29, 31, 33);
  color: rgb(255, 255, 255);
}

.LightTooltip {
  background: rgb(245, 242, 240);
  color: rgb(45, 45, 45);
}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 1.5em;
}

.Title {
  width: 100%;
  position: relative;
  font-weight: bold;
  margin: 0 0 24px;
  padding-bottom: 2px;
  border-bottom: 1px dashed rgb(206, 212, 222);
}

.Title div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

.Title h1 {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 56px;
  font-weight: bold;
  margin: 0;
}

.IntroShowcase {
  display: inline-block;
  width: fit-content;
  position: relative;
  font-size: 48px;
  font-weight: normal;
  margin: 24px 0;
}

.IntroShowcase:before {
  display: block;
  position: absolute;
  content: "";
  bottom: -4px;
  left: 10%;
  width: 90%;
  height: 3px;
  background: rgb(102, 205, 170);
}

.ExampleHeader {
  display: inline-block;
  width: fit-content;
  text-align: center;
  position: relative;
  font-size: 36px;
  font-weight: normal;
  margin: 32px auto 48px;
}

.ExampleHeader:before {
  display: block;
  position: absolute;
  content: "";
  bottom: -4px;
  left: 5%;
  width: 90%;
  height: 3px;
  background: rgb(102, 205, 170);
}

.Underline {
  width: 100% !important;
  height: 100% !important;
}

.Icons {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
  padding-bottom: 48px;
  border-bottom: 1px dashed rgb(206, 212, 222);
}

.Example {
  position: relative;
}

.Example, .Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 6px;
}

.Code {
  display: block;
  color: inherit;
  font-weight: bold;
  text-transform: lowercase;
  text-align: center;
  width: 150px;
  margin: 0 auto;
  font-size: 16px;
}

.Description {
  margin: 24px auto 0;
  font-size: 18px;
  max-width: 90%;
  text-align: center;
}