.Wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.Background {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #fff;
  transform: translateZ(0);
}

.Image {
  left: 0;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  border: 0;
  box-sizing: border-box;
}

.Container {
  display: flex;
  position: absolute;
  background: rgba(35,35,35,.7);
  top: 0;
  width: 100%;
  height: 100%;
  flex-flow: column;
  padding: 12px 6px;
  font-size: 16px;
  color: #fff;
  text-shadow: 1px 1px 1.5px #333;
}

.Content {
  position: relative;
  width: 100%;
  height: 100%;
}

.List {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.FeaturesList {
  margin: 0;
  padding-left: 24px;
  margin-bottom: 24px;
  position: relative;
  text-align: left;
  line-height: 1.3;
}

.FeaturesList li {
  list-style-type: square;
}

.Children {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  padding: 5px 0;
  margin: 3px 0;
  font-size: 17px;
  color: #fff;
  text-shadow: 1px 1px 1.5px #333;
}