.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 350px) {
    .Container {
        max-width: 300px;
    }
}