.BonpreuFoodsFront {
    background-color: silver;
    background-image: 
        linear-gradient(335deg, #ff8100 23px, transparent 23px),
        linear-gradient(155deg, #ff8100 23px, transparent 23px),
        linear-gradient(335deg, #ff8100 23px, transparent 23px),
        linear-gradient(155deg, #ff8100 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

.BonpreuFoodsBack {
    background: rgb(35,35,35);
    background-image: 
        linear-gradient(335deg, rgba(255, 129, 60, .5) 23px, transparent 23px),
        linear-gradient(155deg, rgba(255, 129, 60, .5) 23px, transparent 23px),
        linear-gradient(335deg, rgba(255, 129, 60, .5) 23px, transparent 23px),
        linear-gradient(155deg, rgba(255, 129, 60, .5) 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

.RepuestosSotomayorFront {
    background:
        linear-gradient(135deg, #fed136 21px, #fff 22px, #fff 24px, transparent 24px, transparent 67px, #fff 67px, #fff 69px, transparent 69px),
        linear-gradient(225deg, #fed136 21px, #fff 22px, #fff 24px, transparent 24px, transparent 67px, #fff 67px, #fff 69px, transparent 69px)0 64px;
    background-color:#fed136;
    background-size: 64px 128px;
}

.RepuestosSotomayorBack {
    background:
        linear-gradient(135deg, rgba(254,209,54,.55) 21px, rgba(255,255,255,.75) 22px, rgba(255,255,255,.55) 24px, transparent 24px, transparent 67px, rgba(255,255,255,.65) 67px, rgba(255,255,255,.5) 69px, transparent 69px),
        linear-gradient(225deg, rgba(254,209,54,.55) 21px, rgba(255,255,255,.75) 22px, rgba(211, 131, 131, 0.55) 24px, transparent 24px, transparent 67px, rgba(255,255,255,.65) 67px, rgba(255,255,255,.5) 69px, transparent 69px)0 64px;
    background-color:rgba(254,209,54,1);
    background-size: 64px 128px;
}

.MyReactBurgerBuilderAppFront {	
	background-color: hsl(55,45%,90%);
	background-image:
		linear-gradient(-116deg, transparent 40%, hsl(0,80%,80%) 0, hsl(0,80%,80%) 42%, transparent 42%),
        linear-gradient(116deg, transparent 41%, hsl(0,80%,80%) 0, hsl(0,80%,80%) 43%, transparent 43%),
        linear-gradient(-116deg,transparent 40%,hsl(0,0%,40%) 0,hsl(0,0%,40%) 42%,transparent 42%),linear-gradient(116deg,transparent 41%,hsl(0,0%,40%) 41%,hsl(0,0%,40%) 43%,transparent 43%),
        linear-gradient(-115deg,hsl(0,0%,40%) 16.5%,transparent 0),linear-gradient(-65deg,hsl(0,0%,40%) 16.5%,transparent 0),linear-gradient(115deg,hsl(0,0%,40%) 16.5%,transparent 0),linear-gradient(65deg,hsl(0,0%,40%) 16.5%,transparent 0),
        linear-gradient(-115deg,hsl(0,80%,80%) 16.5%,transparent 0),linear-gradient(-65deg,hsl(0,80%,80%) 16.5%,transparent 0),linear-gradient(115deg,hsl(0,80%,80%) 16.5%,transparent 0),linear-gradient(65deg,hsl(0,80%,80%) 16.5%,transparent 0);
	background-size: 
		/* Pink lines */
		8em 8em,
		8em 8em,
		8em 8em,
		8em 8em,
		/* Black diamonds */
		8em 8em,
		8em 8em,
		8em 8em,
		8em 8em,
		/* Pink diamonds */
		8em 8em,
		8em 8em,
		8em 8em,
		8em 8em;
	background-position: 
		/* Pink lines */
		3em -8em,
		-3em -8em,
		/* Black Lines */
		-9em 8em,
		9em 8em,
		/* Black diamonds */
		0, 0, 0, 0,
		/* Pink diamonds */
		4em, 4em, 4em, 4em;
}

.MyReactBurgerBuilderAppBack {	
	background-color: hsl(55,45%,90%);
	background-image:
		linear-gradient(-116deg, transparent 40%, hsl(0,80%,80%) 0, hsl(0,80%,80%) 42%, transparent 42%),
        linear-gradient(116deg, transparent 41%, hsl(0,80%,80%) 0, hsl(0,80%,80%) 43%, transparent 43%),
        linear-gradient(-116deg,transparent 40%,hsl(0,0%,40%) 0,hsl(0,0%,40%) 42%,transparent 42%),linear-gradient(116deg,transparent 41%,hsl(0,0%,40%) 41%,hsl(0,0%,40%) 43%,transparent 43%),
        linear-gradient(-115deg,hsl(0,0%,40%) 16.5%,transparent 0),linear-gradient(-65deg,hsl(0,0%,40%) 16.5%,transparent 0),linear-gradient(115deg,hsl(0,0%,40%) 16.5%,transparent 0),linear-gradient(65deg,hsl(0,0%,40%) 16.5%,transparent 0),
        linear-gradient(-115deg,hsl(0,80%,80%) 16.5%,transparent 0),linear-gradient(-65deg,hsl(0,80%,80%) 16.5%,transparent 0),linear-gradient(115deg,hsl(0,80%,80%) 16.5%,transparent 0),linear-gradient(65deg,hsl(0,80%,80%) 16.5%,transparent 0);
	background-size: 
		/* Pink lines */
		8em 8em,
		8em 8em,
		8em 8em,
		8em 8em,
		/* Black diamonds */
		8em 8em,
		8em 8em,
		8em 8em,
		8em 8em,
		/* Pink diamonds */
		8em 8em,
		8em 8em,
		8em 8em,
		8em 8em;
	background-position: 
		/* Pink lines */
		3em -8em,
		-3em -8em,
		/* Black Lines */
		-9em 8em,
		9em 8em,
		/* Black diamonds */
		0, 0, 0, 0,
		/* Pink diamonds */
		4em, 4em, 4em, 4em;
}

.PersonalWebsiteFront {
    background-color:#556;
    background-image: 
        linear-gradient(30deg, #944adb 12%, transparent 12.5%, transparent 87%, #944adb 87.5%, #944adb),
        linear-gradient(150deg, #944adb 12%, transparent 12.5%, transparent 87%, #944adb 87.5%, #944adb),
        linear-gradient(30deg, #944adb 12%, transparent 12.5%, transparent 87%, #944adb 87.5%, #944adb),
        linear-gradient(150deg, #944adb 12%, transparent 12.5%, transparent 87%, #944adb 87.5%, #944adb),
        linear-gradient(60deg, #60dcfb 25%, transparent 25.5%, transparent 75%, #60dcfb 75%, #60dcfb),
        linear-gradient(60deg, #60dcfb 25%, transparent 25.5%, transparent 75%, #60dcfb 75%, #60dcfb);
    background-size:85px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.PersonalWebsiteBack {
    background-color:#556;
    background-image: 
        linear-gradient(30deg, #60dcfb 12%, transparent 12.5%, transparent 87%, #60dcfb 87.5%, #60dcfb),
        linear-gradient(150deg, #60dcfb 12%, transparent 12.5%, transparent 87%, #60dcfb 87.5%, #60dcfb),
        linear-gradient(30deg, #60dcfb 12%, transparent 12.5%, transparent 87%, #60dcfb 87.5%, #60dcfb),
        linear-gradient(150deg, #60dcfb 12%, transparent 12.5%, transparent 87%, #60dcfb 87.5%, #60dcfb),
        linear-gradient(60deg, #944adb 25%, transparent 25.5%, transparent 75%, #944adb 75%, #944adb),
        linear-gradient(60deg, #944adb 25%, transparent 25.5%, transparent 75%, #944adb 75%, #944adb);
    background-size:85px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.WorkInProgressFront {
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

.WorkInProgressBack {
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 248px, #abced4 248px, #abced4 249px, transparent 249px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}