

.Wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color, inherit);
  z-index: -1;
}

.Wrapper::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, var(--overlay-opacity, 0))
}

.Container {
  width: 100%;
  height: 100%;
}

.Wrapper span {
  width: var(--bokeh-size, 15vmin);
  height: var(--bokeh-size, 15vmin);
  border-radius: var(--bokeh-size, 15vmin);
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -1;
}

.Wrapper span:nth-child(1) {
  color: #583C87;
  top: 5%;
  left: 99%;
  animation-duration: 13.6s;
  animation-delay: -5.1s;
  transform-origin: -7% 17%;
  box-shadow: 40vmin 0 5.0584339767vmin currentColor;
}

.Wrapper span:nth-child(2) {
  color: #FFACAC;
  top: 51%;
  left: 23%;
  animation-duration: 12s;
  animation-delay: -1s;
  transform-origin: 15% 7%;
  box-shadow: 40vmin 0 9.9476437847vmin currentColor;
}

.Wrapper span:nth-child(3) {
  color: #FFACAC;
  top: 42%;
  left: 84%;
  animation-duration: 15.9s;
  animation-delay: -15.1s;
  transform-origin: -3% -10%;
  box-shadow: -40vmin 0 9.9280821187vmin currentColor;
}

.Wrapper span:nth-child(4) {
  color: #E45A84;
  top: 75%;
  left: 47%;
  animation-duration: 14.7s;
  animation-delay: -8.1s;
  transform-origin: 7% 21%;
  box-shadow: 40vmin 0 12.9354933279vmin currentColor;
}

.Wrapper span:nth-child(5) {
  color: #E45A84;
  top: 87%;
  left: 11%;
  animation-duration: 13s;
  animation-delay: -9.7s;
  transform-origin: 22% 15%;
  box-shadow: -40vmin 0 13.0438930631vmin currentColor;
}

.Wrapper span:nth-child(6) {
  color: #E45A84;
  top: 49%;
  left: 98%;
  animation-duration: 14.5s;
  animation-delay: -1.2s;
  transform-origin: -15% -11%;
  box-shadow: -40vmin 0 7.2284753955vmin currentColor;
}

.Wrapper span:nth-child(7) {
  color: #E45A84;
  top: 98%;
  left: 48%;
  animation-duration: 15.8s;
  animation-delay: -6.3s;
  transform-origin: -19% 16%;
  box-shadow: 40vmin 0 8.7301327174vmin currentColor;
}

.Wrapper span:nth-child(8) {
  color: #583C87;
  top: 31%;
  left: 71%;
  animation-duration: 11.5s;
  animation-delay: -1.5s;
  transform-origin: 16% -1%;
  box-shadow: -40vmin 0 14.2688250746vmin currentColor;
}

.Wrapper span:nth-child(9) {
  color: #FFACAC;
  top: 31%;
  left: 83%;
  animation-duration: 13.3s;
  animation-delay: -7.7s;
  transform-origin: 15% 9%;
  box-shadow: 40vmin 0 7.6739022424vmin currentColor;
}

.Wrapper span:nth-child(10) {
  color: #583C87;
  top: 21%;
  left: 63%;
  animation-duration: 14.6s;
  animation-delay: -0.3s;
  transform-origin: 1% -24%;
  box-shadow: -40vmin 0 5.357814429vmin currentColor;
}

.Wrapper span:nth-child(11) {
  color: #E45A84;
  top: 72%;
  left: 10%;
  animation-duration: 12.3s;
  animation-delay: -4.2s;
  transform-origin: -19% -7%;
  box-shadow: 40vmin 0 5.261473207vmin currentColor;
}

.Wrapper span:nth-child(12) {
  color: #E45A84;
  top: 85%;
  left: 80%;
  animation-duration: 12.2s;
  animation-delay: -14.3s;
  transform-origin: -18% 24%;
  box-shadow: 40vmin 0 13.0328656209vmin currentColor;
}

.Wrapper span:nth-child(13) {
  color: #E45A84;
  top: 16%;
  left: 43%;
  animation-duration: 14.8s;
  animation-delay: -8.1s;
  transform-origin: -9% -18%;
  box-shadow: 40vmin 0 11.74188621vmin currentColor;
}

.Wrapper span:nth-child(14) {
  color: #583C87;
  top: 61%;
  left: 100%;
  animation-duration: 13.3s;
  animation-delay: -1.7s;
  transform-origin: 1% 10%;
  box-shadow: 40vmin 0 11.9335646773vmin currentColor;
}

.Wrapper span:nth-child(15) {
  color: #FFACAC;
  top: 70%;
  left: 25%;
  animation-duration: 12.6s;
  animation-delay: -14s;
  transform-origin: 5% 22%;
  box-shadow: -40vmin 0 6.4282406645vmin currentColor;
}

.Wrapper span:nth-child(16) {
  color: #583C87;
  top: 10%;
  left: 82%;
  animation-duration: 12.4s;
  animation-delay: -8.9s;
  transform-origin: -10% -9%;
  box-shadow: 40vmin 0 7.0524887051vmin currentColor;
}

.Wrapper span:nth-child(17) {
  color: #FFACAC;
  top: 25%;
  left: 28%;
  animation-duration: 15.4s;
  animation-delay: -8s;
  transform-origin: -19% -3%;
  box-shadow: 40vmin 0 10.6038519068vmin currentColor;
}

.Wrapper span:nth-child(18) {
  color: #FFACAC;
  top: 53%;
  left: 59%;
  animation-duration: 14.5s;
  animation-delay: -8.8s;
  transform-origin: 19% -21%;
  box-shadow: -40vmin 0 13.3155790605vmin currentColor;
}

.Wrapper span:nth-child(19) {
  color: #E45A84;
  top: 30%;
  left: 5%;
  animation-duration: 13.3s;
  animation-delay: -12.5s;
  transform-origin: -9% -16%;
  box-shadow: 40vmin 0 13.4019088734vmin currentColor;
}

.Wrapper span:nth-child(20) {
  color: #FFACAC;
  top: 15%;
  left: 57%;
  animation-duration: 11.4s;
  animation-delay: -2.8s;
  transform-origin: 6% 1%;
  box-shadow: -40vmin 0 12.0204575474vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}