.Wrapper {
  margin: auto;
  max-width: 1024px;
  animation: fade-in ease 600ms;
}

.Header {
  margin-top: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 24px;
}

.Front {

}

.Back {

}