.Parallax {
    position: relative;
}

.ParallaxMotto {
    display: flex;
    justify-content: center;
    text-align: center;
    user-select: none;
    text-shadow: 6px 6px 9px rgba(0,0,0, 0.1);
    text-transform: none;
    letter-spacing: 2px;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 20px auto 25px;
    color: #FFF;
}

.ParallaxOverlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5)
}

.ParallaxContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 90%;
}

.ParallaxChildren {
    position: absolute;
    width: 100%;
    top: 100vh;
    background-color: #fff;
}