.Wrapper {
  background-color: inherit;
  color: inherit;
  margin: 0 auto;
  border-left: 1px solid transparent;
  width: calc(100% - 300px);
  padding-left: 0px;
  overflow: hidden;
  position: relative;
}

.Wrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  border-left: 1px solid currentColor;
  opacity: 0.2;
}

.Container {
  background-color: inherit;
  color: inherit;
  padding: 28px 24px;
  margin: 0 auto;
  max-width: 1080px;
}

@media (max-width: 920px) {
  .Wrapper {
    border-left: 0;
    width: 100%;
  }

  .Wrapper::before {
    border-left: 0;
  }

  .Container {
    min-width: 100%;
    padding: 56px 12px 8px;
  }
}