.Project {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    min-height: 250px;
    width: auto;
    height: auto;
    margin: 25px;
    box-sizing: border-box;
}