.Wrapper {
    text-align: center;
}

.Container {
    display: block;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 75px;
    width: 90% ;
}

.Profile {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    box-shadow: -2px 3px 6px rgba(0 ,0, 0, 0.16), 5px 10px 26px rgba(0, 0, 0, 0.53);
    box-sizing: border-box;
    padding: 15px;
    flex-flow: row;
    background-image: linear-gradient(to right, #054f7d, #00a7cf, #efe348, #861a54, #054f7d);
    background-size: 400% 400%;
    border-radius: 20px;
    animation: gradient-background 30s infinite;
}

.Portrait {
    box-sizing: border-box;
    box-shadow: 2.5px 2.5px 10px #333;
    border-radius: 20px;
    background: rgba(255,255,255,.5);
    flex: 0 0 25%;
    max-width: 25%;
    display: flex;
    flex-flow: column;
}

.Content {
    position: sticky;
    top: 24px;
    left: 0;
}

.Portrait img {
    display: block;
    margin: auto;
    max-width: 225px;
    transform: scale(0.9);
    border-radius: 20px;
    transition: all 0.25s ease-out;
    box-shadow: 0 2px 3px #333;
}

.Portrait img:last-of-type {
    width: 150px;
}

.Portrait img:hover {
    transform: scale(1);
    box-shadow: 0 10px 17.5px #333;
}

.Name {
    font-weight: 700;
    font-size: 28px;
    color: #60dcfb;
    line-height: 2;
    text-transform: uppercase;
    text-shadow: 1px 2px 5px #333;
}

.Title {
    font-weight: 700;
    line-height: 2;
}

.Download {
    margin: 10px auto 30px auto;
    width: 80%;
}

.Logo {
    margin: 36px auto !important;
    width: 100%;
    border-radius: 0  !important;
    box-shadow: none !important;
}

@keyframes gradient-background {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 50% 0;
    }
    50% {
        background-position: 90% 0;
    }
    60% {
        background-position: 60%;
    }
    75% {
        background-position: 40%;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes gradient-text {
    to {
        background-position: 200% center;
    }
}

@media only screen and (max-width: 900px) {
    .Profile {
        flex-flow: column;
    }

    .Portrait {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 50px;
        border: none;
    }
    .Portrait img {
        margin: 10% auto !important;
    }
    
    .Container {
        width: 75%;
    }
}

@media only screen and (max-width: 500px) {
    .Container {
        width: 80%;
    }
}