.Hamburger {
  display: inline;
}

.Hamburger .Line{
  /* Default size. */
  /* 
    width: 50px;
    height: 5px;
    margin: 8px auto;
  */
  display: block;
  background-color: currentColor;
  -webkit-transition: transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
}

.Hamburger:hover{
  cursor: pointer;
}

/** 
* -----------------------------------------------------------------
* ------------------------------TOGGLE-----------------------------
* ----------------------------ANIMATIONS---------------------------
* -----------------------------------------------------------------
*/

/**
* ----------------------
* ------ANIMATION 1-----
* ----------------------
*/

.Animation-1.Active .Line:nth-child(2) {
  opacity: 0;
}

.Animation-1.Active .Line:nth-child(1) {
  -webkit-transform: translateY(var(--ratio, 13px)) rotate(45deg);
  -ms-transform: translateY(var(--ratio, 13px)) rotate(45deg);
  -o-transform: translateY(var(--ratio, 13px)) rotate(45deg);
  transform: translateY(var(--ratio, 13px)) rotate(45deg);
}

.Animation-1.Active .Line:nth-child(3) {
  -webkit-transform: translateY(var(--negative-ratio, -13px)) rotate(-45deg);
  -ms-transform: translateY(var(--negative-ratio, -13px)) rotate(-45deg);
  -o-transform: translateY(var(--negative-ratio, -13px)) rotate(-45deg);
  transform: translateY(var(--negative-ratio, -13px)) rotate(-45deg);
}

/**
* -----------------------
* ------ANIMATION 2-----
* -----------------------
*/

.Animation-2.Active .Line:nth-child(1){
  -webkit-transform: translateY(var(--ratio, 13px));
  -ms-transform: translateY(var(--ratio, 13px));
  -o-transform: translateY(var(--ratio, 13px));
  transform: translateY(var(--ratio, 13px));
}

.Animation-2.Active .Line:nth-child(3){
  -webkit-transform: translateY(var(--negative-ratio, -13px));
  -ms-transform: translateY(var(--negative-ratio, -13px));
  -o-transform: translateY(var(--negative-ratio, -13px));
  transform: translateY(var(--negative-ratio, -13px));
}

/**
* -----------------------
* ------ANIMATION 3-----
* -----------------------
*/

.Animation-3.Active .Line:nth-child(1),
.Animation-3.Active .Line:nth-child(3){
  width: 80% !important;
}

.Animation-3.Active .Line:nth-child(1){
  -webkit-transform: translateX(var(--negative-ratio, -10px)) rotate(-45deg);
  -ms-transform: translateX(var(--negative-ratio, -10px)) rotate(-45deg);
  -o-transform: translateX(var(--negative-ratio, -10px)) rotate(-45deg);
  transform: translateX(var(--negative-ratio, -10px)) rotate(-45deg);
}

.Animation-3.Active .Line:nth-child(3){
  -webkit-transform: translateX(var(--negative-ratio, -10px)) rotate(45deg);
  -ms-transform: translateX(var(--negative-ratio, -10px)) rotate(45deg);
  -o-transform: translateX(var(--negative-ratio, -10px)) rotate(45deg);
  transform: translateX(var(--negative-ratio, -10px)) rotate(45deg);
}

/**
* -----------------------
* ------ANIMATION 4-----
* -----------------------
*/

.Animation-4.Active .Line:nth-child(1),
.Animation-4.Active .Line:nth-child(3){
  width: 80% !important;
}

.Animation-4.Active .Line:nth-child(1){
  -webkit-transform: translateX(var(--ratio, -10px)) rotate(45deg);
  -ms-transform: translateX(var(--ratio, -10px)) rotate(45deg);
  -o-transform: translateX(var(--ratio, -10px)) rotate(45deg);
  transform: translateX(var(--ratio, -10px)) rotate(45deg);
}

.Animation-4.Active .Line:nth-child(3){
  -webkit-transform: translateX(var(--ratio, -10px)) rotate(-45deg);
  -ms-transform: translateX(var(--ratio, -10px)) rotate(-45deg);
  -o-transform: translateX(var(--ratio, -10px)) rotate(-45deg);
  transform: translateX(var(--ratio, -10px)) rotate(-45deg);
}

/**
* -----------------------
* ------ANIMATION 5-----
* -----------------------
*/

.Animation-5.Active{
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.Animation-5.Active .Line:nth-child(2){
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.Animation-5 .Line:nth-child(2){
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
}


.Animation-5.Active .Line:nth-child(2){
  opacity: 0;
}

.Animation-5.Active .Line:nth-child(1),
.Animation-5.Active .Line:nth-child(3){
  width: 70% !important;
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -ms-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right;
}

.Animation-5.Active .Line:nth-child(1){
  -webkit-transform: translateY(var(--ratio, -15px)) rotate(45deg);
  -ms-transform: translateY(var(--ratio, -15px)) rotate(45deg);
  -o-transform: translateY(var(--ratio, -15px)) rotate(45deg);
  transform: translateY(var(--ratio, -15px)) rotate(45deg);
}

.Animation-5.Active .Line:nth-child(3){
  -webkit-transform: translateY(var(--negative-ratio, -15px)) rotate(-45deg);
  -ms-transform: translateY(var(--negative-ratio, -15px)) rotate(-45deg);
  -o-transform: translateY(var(--negative-ratio, -15px)) rotate(-45deg);
  transform: translateY(var(--negative-ratio, -15px)) rotate(-45deg);
}

/**
* -----------------------
* ------ANIMATION 6-----
* -----------------------
*/

.Animation-6.Active{
  -webkit-transition: transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.Animation-6.Active .Line:nth-child(2){
  width: 0px;
}

.Animation-6.Active .Line:nth-child(1),
.Animation-6.Active .Line:nth-child(3){
  -webkit-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}

.Animation-6.Active .Line:nth-child(1){
  -webkit-transform: translateY(var(--ratio, 13px));
  -ms-transform: translateY(var(--ratio, 13px));
  -o-transform: translateY(var(--ratio, 13px));
  transform: translateY(var(--ratio, 13px));
}

.Animation-6.Active .Line:nth-child(3){
  -webkit-transform: translateY(var(--negative-ratio, -13px)) rotate(90deg);
  -ms-transform: translateY(var(--negative-ratio, -13px)) rotate(90deg);
  -o-transform: translateY(var(--negative-ratio, -13px)) rotate(90deg);
  transform: translateY(var(--negative-ratio, -13px)) rotate(90deg);
}

/**
* -----------------------
* ------ANIMATION 7-----
* -----------------------
*/

.Animation-7.Active .Line:nth-child(1){
  width: 60% !important;
}

.Animation-7.Active .Line:nth-child(2){
  width: 80% !important;
}

.Animation-7.Active .Line{
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}

/**
* -----------------------
* ------ANIMATION 8-----
* -----------------------
*/

.Animation-8.Active .Line:nth-child(2){
  opacity: 0;
}

.Animation-8.Active .Line:nth-child(1){
  -webkit-transform: translateY(var(--ratio, 13px));
  -ms-transform: translateY(var(--ratio, 13px));
  -o-transform: translateY(var(--ratio, 13px));
  transform: translateY(var(--ratio, 13px));
}

.Animation-8.Active .Line:nth-child(3){
  -webkit-transform: translateY(var(--negative-ratio, -13px)) rotate(90deg);
  -ms-transform: translateY(var(--negative-ratio, -13px)) rotate(90deg);
  -o-transform: translateY(var(--negative-ratio, -13px)) rotate(90deg);
  transform: translateY(var(--negative-ratio, -13px)) rotate(90deg);
}

/**
* -----------------------
* ------ANIMATION 9-----
* -----------------------
*/

.Animation-9{
  position: relative;
  -webkit-transition: transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
}

.Animation-9.Active{
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.Animation-9:before{
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 140%;
  height: 140%;
  border: 3px solid transparent;
  top: calc(50% - 72.5%);
  left: calc(50% - 70%);
  border-radius: 100%;
  -webkit-transition: transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
}

.Animation-9.Active:before{
  border: 3px solid currentColor;
}

.Animation-9.Active .Line{
  width: 70%;
}

.Animation-9.Active .Line:nth-child(2){
  opacity: 0;
}

.Animation-9.Active .Line:nth-child(1){
  -webkit-transform: translateY(var(--ratio, 13px));
  -ms-transform: translateY(var(--ratio, 13px));
  -o-transform: translateY(var(--ratio, 13px));
  transform: translateY(var(--ratio, 13px));
}

.Animation-9.Active .Line:nth-child(3){
  -webkit-transform: translateY(var(--negative-ratio, -13px)) rotate(90deg);
  -ms-transform: translateY(var(--negative-ratio, -13px)) rotate(90deg);
  -o-transform: translateY(var(--negative-ratio, -13px)) rotate(90deg);
  transform: translateY(var(--negative-ratio, -13px)) rotate(90deg);
}

/**
* -----------------------
* ------ANIMATION 10-----
* -----------------------
*/

.Animation-10 {
  -webkit-transition: transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
}

.Animation-10.Active {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.Animation-10.Active .Line:nth-child(1) {
  width: 60% !important;
}

.Animation-10.Active .Line:nth-child(2) {
  width: 80% !important;
}

/**
* -----------------------
* ------ANIMATION 11-----
* -----------------------
*/

.Animation-11 {
  -webkit-transition: transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
}

.Animation-11.Active{
  animation: smtransformbig 600ms forwards;
}

@keyframes smtransformbig{
  0%, 100%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50%{
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

.Animation-11.Active .Line:nth-child(1),
.Animation-11.Active .Line:nth-child(2),
.Animation-11.Active .Line:nth-child(3) {
  -webkit-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms;
}

.Animation-11.Active .Line:nth-child(2) {
  opacity: 0;
}

.Animation-11.Active .Line:nth-child(1) {
  -webkit-transform: translateY(var(--ratio, 13px)) rotate(45deg);
  -ms-transform: translateY(var(--ratio, 13px)) rotate(45deg);
  -o-transform: translateY(var(--ratio, 13px)) rotate(45deg);
  transform: translateY(var(--ratio, 13px)) rotate(45deg);
}

.Animation-11.Active .Line:nth-child(3) {
  -webkit-transform: translateY(var(--negative-ratio, var(--negative-ratio, -13px))) rotate(-45deg);
  -ms-transform: translateY(var(--negative-ratio, var(--negative-ratio, -13px))) rotate(-45deg);
  -o-transform: translateY(var(--negative-ratio, var(--negative-ratio, -13px))) rotate(-45deg);
  transform: translateY(var(--negative-ratio, var(--negative-ratio, -13px))) rotate(-45deg);
}

/**
* -----------------------
* ------ANIMATION 12-----
* -----------------------
*/

.Animation-12.Active .Line:nth-child(1) {
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.Animation-12.Active .Line:nth-child(3) {
  opacity: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
