.Wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column;
}

.Header {
  display: inline;
  text-align: center;
  user-select: none;
  text-shadow: 3px 3px 9px rgba(0,0,0, 0.1);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 60px;
  margin: 18px auto 24px;
  color: #26bbe1;
  background: linear-gradient(to right, #944adb 20%, #26bbe1 40%, #26bbe1 60%, #944adb 80%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-text 5000ms linear infinite;
}

@supports (-webkit-background-clip: text) {
  /* IE Edge 12+ CSS */ 
  .Header {
    color: inherit;
  }
}

@supports (background-clip: text) {
  /* IE Edge 12+ CSS */ 
  .Header {
    color: inherit;
  }
}

@media (max-width: 900px) {
  .Header {
    font-size: 3em;
  }
}

@media only screen and (max-width: 600px) {
  .Header {
    font-size: 2.75em;
  }
}

@media only screen and (max-width: 400px) {
  .Header {
    font-size: 2.5em;
  }
}


@keyframes gradient-text {
  to {
    background-position: 200% center;
  }
}

.Intro {
  color: currentColor;
  line-height: 28px;
  font-size: 21px;
  text-align: center;
  margin: 12px auto 18px;
  padding: 0 8px;
  max-width: 1092px;
}