.Wrapper {
  color: currentColor;
  padding: 4px 9px;
  cursor: pointer;
  opacity: .8;
  transition: opacity ease 200ms;
}

.Wrapper:hover,
.Wrapper:focus {
  opacity: 1;
}

.Container {
  position: relative;
  white-space: nowrap;
  font-size: 18px;
  text-transform: lowercase;
}

.Item {
  margin-left: 0.5ch;
}

.Item > * {
  color: currentColor;
}

.Description {
  text-transform: initial;
  position: relative;
  border-left: 2px solid #66cdaa;
  margin: 0px 6px 0px 18px;
  padding: 0px 12px;
  text-align: left;
  font-size: 14px;
  overflow: hidden;
  max-height: 0;
  transition: all ease-in-out 300ms;
}

.Wrapper.Active {
  opacity: 1;
}

.Wrapper.Active .Description {
  margin: 12px 6px 3px 18px;
  padding: 4px 12px;
  max-height: 250px;
}