.Nav {
  position: relative;
  border-bottom: 1px solid transparent;
  margin-bottom: 12px;
  padding-bottom: 12px;
  text-transform: uppercase;
}

.Header {
  position: relative;
  display: inline-block;
  font-size: 24px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
  padding: 0 0 6px;
  margin: 0 auto 12px;
}

.Nav::before,
.Header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid currentColor;
  opacity: 0.2;
}

.List {
  list-style: none;
  font-weight: 600;
  margin: 0;
  padding: 0 16px;
}

.List > * {
  color: inherit;
}