.Card {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.Aesthetics {
  background-color: inherit;
  margin: 8px 4px;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.Visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  animation: no-pointer-events-on-mount var(--animation-speed, 250ms) ease forwards;
}

.NotVisible {
  display: none;
  visibility: hidden;
  opacity: 0;
  transform: scale(1.5);
  pointer-events: none;
}

.Content {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  overflow: hidden;
  transition: all var(--animation-speed, 250ms) ease;
}

@keyframes no-pointer-events-on-mount {
  0% {
    pointer-events: none;
  }
  100% {
    pointer-events: initial;
  }
}